<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="favicon.ico" />
	<title>Funcionários - Início</title>
	<link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../resources/css/bootstrap-vue.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
</head>

<body>

	<a href="../index.html">Voltar</a>


	<div id="inicio" class="container-striped table">
		<div align="center">


			<div class="modal" id="modal" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Editar Usuário</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<div class="modal-body">



							<input type="text" placeholder="nome" v-model="setor.nome" /><br />



						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" @click="updateSetor(setor.id)"
								data-dismiss="modal">Save changes</button>
						</div>
					</div>
				</div>
			</div>



			<h4>Lista de Setores</h4>
			<table>
				<tr>
					<th>ID</th>
					<th>Nome</th>

					<th>Editar</th>
					<th>Apagar</th>
				</tr>
				<tbody id="event-table">
					<tr v-for="setor in listaSetores">
						<td>{{ setor.id }}</td>
						<td>{{ setor.nome }}</td>
						<td><button class="button"  data-toggle="modal" data-target="#modal"@click="pegaSetor(setor)">&#9998;</button></td>
						<td><span @click="deleteSetor(setor.id)">&#10006;</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

	<script src="../resources/js/vue.js"></script>
	<script src="../resources/js/axios.min.js"></script>
	<script src="../resources/js/lista-de-setores.js"></script>
</body>

</html>