<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="../favicon.ico" />
	<title>Cadastrar um novo Funcionário </title>
	<link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../resources/css/bootstrap-vue.css">

	<!-- <link rel="stylesheet" type="text/css"
		href="../resources/css/main.css"> -->
</head>

<body>

	<a href="../index.html">Voltar</a>

	<div id="cadastro" align="center">


		<h4>Cadastro de funcionário</h4>



		<input type="text" placeholder="nome" v-model="funcionario.nome" size="60" /><br />




		<input type="number" placeholder="salario" v-model="funcionario.salario" size="120" /><br />
		<input type="email" placeholder="email" v-model="funcionario.email" size="60" /><br />
		<input type="number" placeholder="idade" v-model="funcionario.idade" size="60" /><br />


		<select v-model="funcionario.setor">
			<option v-for="setor in listaSetores" v-bind:value="setor">
				{{ setor.nome }}
			</option>
		</select>
		<br />




		<a href='../index.html'><input type="submit" value="Save" @click="createFuncionario"  /></a><br />
		

	</div>


	<script src="../resources/js/vue.js"></script>
	<script src="../resources/js/axios.min.js"></script>
	<script src="../resources/js/cadastro-de-funcionario.js"></script>

</body>

</html>